.carousel-inner {

    @include mobile {
        display: none;
    }

    p {
        color: $colorSecundario;
        font-family: "Noto Sans Display", sans-serif;
        background-color: black;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;

        @include tablet {
            font-size: 15px;
        }

        @include mobile {
            font-size: 5px;
        }
    }
}

#carouselExampleCaptions{

    img {
        height: 70vh;
        margin-top: 40px;
        border-radius: 5px;

        @include tablet {
            height: 35vh;
        }

        @include mobile {
            height: 20vh;
            margin-top: 20px;
            border-radius: 5px;
        }
    }
}